Flask
flask-cors
beautifulsoup4
python-dotenv
torch --extra-index-url https://download.pytorch.org/whl/cu121
torchvision --extra-index-url https://download.pytorch.org/whl/cu121
torchaudio --extra-index-url https://download.pytorch.org/whl/cu121
transformers
huggingface-hub
langchain
langchain_community
llama-cpp-python
pymongo
aiohttp
tqdm
requests
